ul class="nav nav-tabs"
  li = link_to tag_icon(:list, pat(:list)), url(:vendors, :index)
  li class="active" = link_to tag_icon(:plus, pat(:new)), url(:vendors, :new)

div class="tabs-content"
  = form_for :vendor, url(:vendors, :create), :class => 'form-horizontal' do |f|
    = partial 'vendors/form', :locals => { :f => f }
